<%= link_to "Home", "/" %>

<h1><%= @employee["full_name"] %></h1>
<h2><%= @employee["email"] %></h2>
<h2><%= @employee["birthday"] %></h2>

<%= link_to "edit", "/employees/#{@employee["id"]}/edit" %>
<%= link_to "delete", "/employees/#{@employee["id"]}", method: :delete %>